body{
    background: blue;
}
.calculator{
    display: grid;
    justify-content: center;
    align-content:center ;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.calculator > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid lightskyblue;
    outline: none;
    background-color:lightcyan;
}
.calculator > button:hover {
    background-color:lightblue;
}
.span-two{
    grid-column: span 2;
}
.output{
    grid-column:1/-1;
    background-color:lightblue;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;  
}
.output > input  {
  font-size: 2.5rem;
  width: 57vh;
  color:blue;
}